
.wtcLogo{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  
}

#eventDetails{
	clear: both;
	width: 100%;
	font-family: 'Yantramanav', sans-serif;
	text-align: center;
	font-size: 22px;
	color: #808080;
}

